<div class="informations">

    <h2 class="informations-title"></h2>
    <div class="informations-box">
        <div class="left">
            <img src="" alt="">
            <div class="left-text">
                <p class="prenom"></p>
                <p class="nom"></p>
                <p class="date-de-naissance"></p>
            </div>
        </div>
        <div class="right">
            <p class="email"></p>
            <p class="telephone"></p>
        </div>
    </div>
</div>


<div class="trajets">

    <h2 class="trajets-title"></h2>

    <div class="trajets-liste">
        
    </div>

</div>