<div class="content">
  <h1 class="title">Créer un trajet</h1>

  <form [formGroup]="departureForm" (ngSubmit)="onSubmit()">
    <div class="depart">
      <h2>Départ</h2>
      <div class="inputs">
        <div class="right">
          <input type="text" formControlName="departureCountry" placeholder="Pays" />
          <input type="text" formControlName="departureCity" placeholder="Ville" />
        </div>

        <div class="left">
          <input type="text" formControlName="departureAddress" placeholder="Adresse" />
          <input type="datetime-local" formControlName="departureDate" />
        </div>
      </div>
    </div>

    <img class="arrow" src="../../assets/arrow-down.png" alt="" />

    <div class="destination" [formGroup]="arrivalForm">
      <h2>Destination</h2>
      <div class="inputs">
        <div class="right">
          <input type="text" formControlName="arrivalCountry" placeholder="Pays" />
          <input type="text" formControlName="arrivalCity" placeholder="Ville" />
        </div>

        <div class="left">
          <input type="text" formControlName="arrivalAddress" placeholder="Adresse" />
          <input type="datetime-local" formControlName="arrivalDate" />
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="infos" [formGroup]="informationForm">
      <h2>Informations supplémentaires</h2>
      <div class="inputs">
        <div class="right">
          <input type="number" formControlName="seats" placeholder="Sièges disponibles" />
        </div>

        <div class="left">
          <input type="number" formControlName="price" placeholder="Prix" />
        </div>
      </div>
    </div>

    <button
      class="submit"
      type="submit"
      [disabled]="!departureForm.valid || !arrivalForm.valid || !informationForm.valid"
    >
      Créer le trajet
    </button>
  </form>
</div>
