<div class="content">
  <h1 class="title">Créer un trajet</h1>

  <form action="">
    <div class="depart">
      <h2>Départ</h2>
      <div class="inputs">
        <div class="right">
          <input type="text" name="" id="" placeholder="Pays" />
          <input type="text" name="" id="" placeholder="Ville" />
        </div>

        <div class="left">
          <input type="text" name="" id="" placeholder="Adresse" />
          <input type="text" name="" id="" placeholder="Heure" />
        </div>
      </div>
    </div>

    <img class="arrow" src="../../assets/arrow-down.png" alt="" />

    <div class="destination">
      <h2>Destination</h2>
      <div class="inputs">
        <div class="right">
          <input type="text" name="" id="" placeholder="Pays" />
          <input type="text" name="" id="" placeholder="Ville" />
        </div>

        <div class="left">
          <input type="text" name="" id="" placeholder="Adresse" />
          <input type="text" name="" id="" placeholder="Heure" />
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="infos">
      <h2>Informations supplémentaires</h2>
      <div class="inputs">
        <div class="right">
          <input type="number" placeholder="Sièges disponibles"/>
        </div>

        <div class="left">
          <input type="number" placeholder="Prix"/>
        </div>
      </div>
    </div>

    <button class="submit">Créer le trajet</button>
  </form>
</div>
