<h1 class="title">Trouves ton covoiturage</h1>

<app-searchbar (search)="coursesComponent.onSearchHome($event)"></app-searchbar>

<div class="car">
  <img class="car-img" src="../../../assets/car1.png" alt="" />
</div>

<div class="blanc">
  <div class="recherchez">
    <img src="../../../assets/blanc/recherchez.png" alt="" />
    <h3>Recherchez le covoiturage de votre choix</h3>
  </div>
  <div class="reservez">
    <img src="../../../assets/blanc/reservez.png" alt="" />
    <h3>Réservez sereinement et instantanément</h3>
  </div>
  <div class="voyagez">
    <img src="../../../assets/blanc/voyagez.png" alt="" />
    <h3>Voyagez à bas prix partout dans le monde</h3>
  </div>
</div>

<h2 class="title2">Trajets aujourd'hui</h2>

<app-courses #coursesComponent [itemsPerPage]="5" [pagination]="false"></app-courses>
